:root {
  --main-bg-color: #cad6b2;
}
/* General */
body{
  font-family: "Roboto Mono", serif;
  color: var(--main-bg-color);
  font-size: 2.5vh;
  /* background-color: #effdf3; */
  background-color: black;
}

.skip a{
  background: #000000;
  left: 0;
  padding: 7px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  top:20px;
  color: var(--main-bg-color);
  text-decoration-style: solid;
}

a{
  color: var(--main-bg-color);
  text-decoration: none; 
}

a:hover{
  text-decoration: underline; 
}

a:visited{
  color: var(--main-bg-color);
}

nav{
  padding: 3vw;
}

.nav_links{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
}

.nav_item{
  font-size: 2.5vw;
  width: 6em;
  text-align: center;
}

.current_link a{
  color: #b8b8b8;
  text-decoration: underline;
}

footer {
  background-color: #414642b2;
  color: var(--main-bg-color);
  font-size: 2.5vw;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main{
  margin: 5vh;
  margin-bottom: 100px;
}

#cursor {
  pointer-events: none;
  position: fixed;
  padding: 1vw;
  background-color: #637c36;
  border-radius: 50%;
  mix-blend-mode: difference;
  /*transition: transform 0.3s ease;*/
}

html, a{
  cursor: none;
}

/* General End */

/* Index */
main h1 {
  font-size: 10vw;
  padding-top: 30vh;
}
main p {
  font-size: 3vw;
}

main h2{
  font-size: 5vw;
  margin-top: 50vh;
  margin-bottom: 5vh;
}

.experience_list{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap:15px;
}

#mechmind{
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
}
#mechmind_text{
  grid-column: 1 / span 6;
  grid-row: 2 / span 1;
}
#strategy{
  grid-column: 1 / span 6;
  grid-row: 3 / span 1;
}
#strategy_text{
  grid-column: 1 / span 6;
  grid-row: 4 / span 1;
}
#umji{
  grid-column: 1 / span 6;
  grid-row: 5 / span 1;
}
#umji_text{
  grid-column: 1 / span 6;
  grid-row: 6 / span 1;
}
.experience{
  display: block;
  margin: auto;
  background-color: transparent;
  width: 80%;
  height: auto;
  overflow: hidden;
}
.experience_text{
  align-self: center;
}

.experience_text p{
  font-size: 2.5vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.experience_text p:first-child{
  font-size: 2.75vw;
  font-style: italic;
}

@media  screen and (min-width: 360px) {
  #mechmind{
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
  }
  #mechmind_text{
    grid-column: 4 / span 3;
    grid-row: 1 / span 2;
  }
  #strategy{
    grid-column: 1 / span 3;
    grid-row: 3 / span 2;
  }
  #strategy_text{
    grid-column: 4 / span 3;
    grid-row: 3 / span 2;
  }
  #umji{
    grid-column: 1 / span 3;
    grid-row: 5 / span 2;
  }
  #umji_text{
    grid-column: 4 / span 3;
    grid-row: 5 / span 2;
  }
  .experience_text p{
    font-size: 2vw;
  }
  .experience_text p:first-child{
    font-size: 2.25vw;
  }
}

@media screen and (min-width: 780px) {
  #mechmind{
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
  }
  #mechmind_text{
    grid-column: 1 / span 2;
    grid-row: 4 / span 3;
  }
  #strategy{
    grid-column: 3 / span 2;
    grid-row: 1 / span 3;
  }
  #strategy_text{
    grid-column: 3 / span 2;
    grid-row: 4 / span 3;
  }
  #umji{
    grid-column: 5 / span 2;
    grid-row: 1 / span 3;
  }
  #umji_text{
    grid-column: 5 / span 2;
    grid-row: 4 / span 3;
  }
  .experience_text{
    align-self:flex-start;
  }
  .experience_text p{
    font-size: 1.5vw;
  }
  .experience_text p:first-child{
    font-size: 1.75vw;
  }
}
/* Index End */

/* Project */
.project_list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-row-gap:15px;
}

#shooting{
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
}

#shooting_text{
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
}

#covid{
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;
}

#covid_text{
  grid-column: 1 / span 4;
  grid-row: 4 / span 1;
}

#django{
  grid-column: 1 / span 4;
  grid-row: 5 / span 1;
}

#django_text{
  grid-column: 1 / span 4;
  grid-row: 6 / span 1;
}

#imdb{
  grid-column: 1 / span 4;
  grid-row: 7 / span 1;
}

#imdb_text{
  grid-column: 1 / span 4;
  grid-row: 8 / span 1;
}

.project{
  display: block;
  margin: auto;
  background-color: transparent;
  width: 100%;
  height: 150px;
  perspective: 1000px; 
  overflow: hidden;
}
.project_text{
  align-self: center;
}

.project_text p{
  font-size: 2.5vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.project_text p:first-child{
  font-size: 3vw;
  font-style: italic;
}

/* Flip Card */
/* Reference: https://www.w3schools.com/howto/howto_css_flip_card.asp */
.proj_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.project:hover .proj_inner {
  transform: rotateY(180deg);
}

.proj_front, .proj_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  justify-content: center;

}
.proj_front img, .proj_back img{
  display:block;
  margin:auto;
}

.proj_front {
  padding: 3vw;
  color: black;
}

.proj_back {
  padding: 3vw;
  color: white;
  transform: rotateY(180deg);
}
/* Flip Card End */

@media  screen and (min-width: 360px) {
  /* Project */
  #shooting{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  #shooting_text{
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
  }

  #covid{
    grid-column:1 / span 2;
    grid-row: 3 / span 2;
  }

  #covid_text{
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
  }

  #django{
    grid-column: 1 / span 2;
    grid-row: 5 / span 2;
  }

  #django_text{
    grid-column: 3 / span 2;
    grid-row: 5 / span 2;
  }

  #imdb{
    grid-column: 1 / span 2;
    grid-row: 7 / span 2;
  }

  #imdb_text{
    grid-column: 3 / span 2;
    grid-row: 7 / span 2;
  }
  
  .project{
    height: 200px;
  }
  .project_text p{
    font-size: 1.5vw;
  }
  .project_text p:first-child{
    font-size: 2vw;
  }
}

@media  screen and (min-width: 780px) {
  /* Project */
  #shooting{
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
  }

  #shooting_text{
    grid-column: 1 / span 1;
    grid-row: 4 / span 5;
  }

  #covid{
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
  }

  #covid_text{
    grid-column: 2 / span 1;
    grid-row: 4 / span 5;
  }

  #django{
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
  }

  #django_text{
    grid-column: 3 / span 1;
    grid-row: 4 / span 5;
  }

  #imdb{
    grid-column: 4 / span 1;
    grid-row: 1 / span 3;
  }

  #imdb_text{
    grid-column: 4 / span 1;
    grid-row: 4 / span 5;
  }
  
  .project{
    height: 325px;
  }
  .project_text{
    align-self:flex-start;
  }
  .project_text p{
    font-size: 1.25vw;
  }
  .project_text p:first-child{
    font-size: 1.5vw;
  }
}

/* Project End */

/* Travel */
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

}
.gallery img{
  border-radius: 1vw;
  border: 1vw solid #7b753075;
  width: 320px;
  margin: 12px;
} 
/* Travel End */


/* About */
#about_header{
  background-attachment: fixed; /* Parallax effect */
  background-position: 75% 25%; /* Parallax effect */
  background-size: cover; /* Parallax effect */
  color: white;
  height: 800px; /* Parallax effect */
  background-image: url("../images/about_header.JPG");
  background-repeat: no-repeat;
}

form{
  display: block;
  background-color: rgb(58, 65, 47);
  font-family: Courier, monospace;
  font-size: 2.5vw;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
}

form legend{
  font-weight: bold;
}

label{
  display: inline-block;
  width: 100%;
}

input, textarea {
  background-color: black;
  color: var(--main-bg-color);
}
/* About End */

/* Responsive */
@media  screen and (min-width: 360px) {
  /*Turn off parallax*/
  #about_header{
    background-attachment: initial;
  }

  label{
    width:auto;
  }
}
@media  screen and (min-width: 780px) {
  nav {
    display: flex;
    justify-content: end;
  }
  .nav_links{
    flex-flow: row;
  }
}
/* Responsive End */

@media screen and (prefers-reduced-motion: reduce){
  /*Turn off scroll*/
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  /*Turn off transition*/
  .skip a{
    -webkit-transition: initial; /* sets to default setting */
    transition: initial; /* sets to default setting */
  }

  /*Turn off parallax*/
  #about_header{
    background-attachment: initial;
  }

  /*Turn off floating background*/
  #floating_background{
    display: none;
  }
}








/* Floating Background */

/* color palette: 
#c2c97c
#c2a958
#9d9b48
#e0deb6
#907d3d
#7b7530
#735b2a
#b9ce22
#443817
#5c5620
#5e4620 */

/* Shape reference: https://css-tricks.com/the-shapes-of-css/ */

#floating_background > {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

@keyframes floating{
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 0;
	}
	50% {
		transform: translateY(-60vh) rotate(360deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-120vh) rotate(720deg);
		opacity: 0;
	}
}

#floating_background .circle li{
    opacity: 0;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;

    position: absolute;
    bottom: 0;
    display: block;
    list-style: none;
    animation: floating 8s linear infinite;
}

#floating_background .circle li:nth-child(1){
    left: 20vw;
    background: #c2c97c;
    animation-delay: 1s;
}

#floating_background .circle li:nth-child(2){
    width: 12vw;
    height: 12vw;
    left: 70vw;
    background: #c2a958;
    animation-delay: 3s;
    animation-duration: 10s;
}


#floating_background .square li{
     opacity: 0;
     width: 2vw;
     height: 2vw;
     background: #e0deb6;
     
     position: absolute;
     bottom: 0;
     display: block;
     list-style: none;
     animation: floating 7s linear infinite;
 }

#floating_background .square li:nth-child(1){
    width: 4vw;
    height: 4vw;

    left: 5vw;
    animation-delay: 5s;
    animation-duration: 7s;
}

#floating_background .square li:nth-child(2){
    left: 15vw;
    animation-delay: 10s;
    animation-duration: 11s;
}

#floating_background .square li:nth-child(3){
    width: 1vw;
    height: 1vw;

    left: 45vw;
    animation-delay: 6s;
    animation-duration: 13s;
}

#floating_background .square li:nth-child(4){
    width: 3vw;
    height: 3vw;
    
    left: 90vw;
    animation-delay: 3s;
    animation-duration: 9s;

}

#floating_background .triangle li{
    width: 0;
    height: 0;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
    border-bottom: 4vw solid #b9ce22;
    opacity: 0;

    position: absolute;
    bottom: 0;
    display: block;
    list-style: none;
    animation: floating 16s linear infinite;
}

#floating_background .triangle li:nth-child(1){
    border-left: 4vw solid transparent;
    border-right: 4vw solid transparent;
    border-bottom: 8vw solid #9d9b48;

    left: 45vw;
    animation-delay: 10s;
    animation-duration: 16s;
}

#floating_background .triangle li:nth-child(2){
    left: 60vw;
    animation-delay: 1s;
    animation-duration: 14s;
}

#floating_background .triangle li:nth-child(3){
    left: 76vw;
    animation-delay: 5s;
}

#floating_background .triangle li:nth-child(4){
    left: 86vw;
    animation-delay: 2s;
}
/* 
#floating_background .moon li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 7px 7px 0 0 #5e4620;

    position: absolute;
    bottom: 0;
    display: block;
    list-style: none;
    animation: floating 15s linear infinite;
}

#floating_background .moon li:nth-child(1){
    left: 27vw;
    animation-delay: 10s;
    animation-duration: 18s;
}

#floating_background .moon li:nth-child(2){
    left: 54vw;
    animation-delay: 1s;
    animation-duration: 13s;
}

#floating_background .moon li:nth-child(3){
    left: 81vw;
    animation-delay: 6s;
}

#floating_background .moon li:nth-child(4){
    left: 64vw;
    animation-delay: 1s;
}

#floating_background .heart li{
    position: absolute;
    width: 60px;
    height: 50px;

    bottom: 0;
    display: block;
    list-style: none;
    animation: floating 14s linear infinite;
}
#floating_background .heart li:before, #floating_background .heart li:after {
    position: absolute;
    content: "";
    left: 30px;
    top: 0;
    width: 30px;
    height: 50px;
    background: #5c5620;
    border-radius: 30px 30px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#floating_background .heart li:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
#floating_background .heart li:nth-child(2){
    left: 72vw;
    animation-duration: 10s;
}

#floating_background .heart li:nth-child(3){
    left: 45vw;
    animation-delay: 5s;
}

#floating_background .heart li:nth-child(4){
    left: 21vw;
    animation-delay: 2s;
} */

/* Floating Background End*/
